@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&family=Titillium+Web&display=swap");
.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #1266f1; }

.btn-primary {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: linear-gradient(#21BF73, #21bf7338); }
  .btn-primary:hover {
    background-color: rgba(245, 245, 245, 0.171); }

.btn-outlined-primary {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: white;
  border: 20px solid linear-gradient(#21BF73, #21bf7338); }
  .btn-outlined-primary:hover {
    background-color: linear-gradient(#21BF73, #21bf7338); }

.btn-hover-grey {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: rgba(245, 245, 245, 0.171); }
  .btn-hover-grey:hover {
    background-color: rgba(245, 245, 245, 0.171); }

.btn-outlined-hover-grey {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: white;
  border: 20px solid rgba(245, 245, 245, 0.171); }
  .btn-outlined-hover-grey:hover {
    background-color: rgba(245, 245, 245, 0.171); }

.btn-black {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: black; }
  .btn-black:hover {
    background-color: rgba(245, 245, 245, 0.171); }

.btn-outlined-black {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: white;
  border: 20px solid black; }
  .btn-outlined-black:hover {
    background-color: black; }

.btn-white {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: white; }
  .btn-white:hover {
    background-color: rgba(245, 245, 245, 0.171); }

.btn-outlined-white {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: white;
  border: 20px solid white; }
  .btn-outlined-white:hover {
    background-color: white; }

.btn-navy-blue {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: #1266f1; }
  .btn-navy-blue:hover {
    background-color: rgba(245, 245, 245, 0.171); }

.btn-outlined-navy-blue {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background-color: white;
  border: 20px solid #1266f1; }
  .btn-outlined-navy-blue:hover {
    background-color: #1266f1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif; }

body {
  background: linear-gradient(#21BF73, #21bf7338); }

.nav-link-size {
  font-size: x-large;
  text-transform: uppercase; }

.burger-size {
  font-size: 2.5rem; }

.carousel {
  height: 250px;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.titulo {
  text-transform: uppercase;
  color: white;
  font-size: 39px;
  margin-bottom: 2rem;
  -webkit-text-stroke: black 1px;
  text-align: center; }

.carousel-item {
  object-fit: cover; }

/* footer */
.bg-white {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important; }

.slogan-apereance {
  font-family: 'Comic Neue', cursive;
  font-size: 30px;
  font-weight: bolder; }

.nav-link:hover {
  border-radius: 20px;
  background-color: rgba(245, 245, 245, 0.171); }

/* marcas */
#marcasBox {
  margin: 1rem; }

.card-img-top {
  width: 100%;
  object-fit: cover; }

.logoMarcas {
  height: auto;
  width: auto;
  transition: transform 2s ease-in-out; }

.logoMarcas:hover {
  animation: up-and-down 2s ease-in-out; }

@keyframes up-and-down {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }

/* desktop view */
@media (min-width: 992px) {
  /* carousel */
  .carousel {
    height: 480px; }
  /* footer */
  .col-lg-3 {
    width: 33% !important; }
  .card-img-top {
    height: 356px; } }