* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;

}

body {
    background: linear-gradient(#21BF73, #21bf7338);
}

/* header */

.nav-link-size {
    font-size: x-large;
    text-transform: uppercase;
}

.hamburger-size{
    font-size: 2.5rem;
}


/* carousel */

.carousel{
    height: 250px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.carousel-item{
    object-fit: cover;
}

/* novedades */

.novedadesTitle {
    text-transform: uppercase;
    color: white;
    font-size: 39px;
    margin-bottom: 5px;
    margin-top: 5px;
    -webkit-text-stroke: black 1px;
    text-align: center;
}

/* footer */

.bg-white {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.slogan-apereance {
    font-family: 'Comic Neue', cursive;
    font-size: 30px;
    font-weight: bolder;
}

.nav-link:hover {
    background-color: rgba(245, 245, 245, 0.171);
}

/* marcas */

.marcasBox {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-items: center;
    width: 80%;
    background: white;
    text-align: center;
    border-radius: 10px;
}

#marcasPage {
    text-align: -webkit-center;
}

.marca__smallBox {
    border-bottom: black solid;
    margin-bottom: 30px;
    width: 82%;
}

.marca__smallBox ul {
    list-style: none;
}

.logoMarcas {
    height: auto;
    width: auto;
    transition: transform 2s ease-in-out;
}

.logoMarcas:hover {
    animation: up-and-down 2s ease-in-out;
}

@keyframes up-and-down {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);

    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);

    }
}

.origenMarca {
    font-size: 13px;
    font-family: sans-serif;
    color: grey;
    text-decoration: underline;
}


/* desktop view */
@media (min-width: 992px) {

    /* carousel */
    .carousel{
        height: 480px;
    }

    /* footer */
    .col-lg-3 {
        width: 33% !important;
    }
}


@media all and (min-width: 1100px) {

    /*desktop view marcas */

    .marcasBox {
        display: flex;
        width: 90%;
    }

    .marca__smallBox {
        border: none;
        margin-top: 30px;
    }
}